@using HTTPSManager.MVC.Web.Tests.Models
@model ICollection<HTTPSManager.MVC.Web.Tests.Models.ExternalLogin>

@if (this.Model.Count > 0) {
    <h3>Registered external logins</h3>
    <table>
        <tbody>
            @foreach (ExternalLogin externalLogin in this.Model) {
                <tr>
                    <td>@externalLogin.ProviderDisplayName</td>
                    <td>
                        @if (this.ViewBag.ShowRemoveButton) {
                            using (this.Html.BeginForm("Disassociate", "Account")) {
                                @Html.AntiForgeryToken()
                                <fieldset>
                                    @Html.Hidden("provider", externalLogin.Provider)
                                    @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                                    <input type="submit" value="Remove" title="Remove this @externalLogin.ProviderDisplayName credential from your account" />
                                </fieldset>
                            }
                        }
                        else {
                            @: &nbsp;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}