@model HTTPSManager.MVC.Web.Tests.Models.LocalPasswordModel
@{
    this.ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@this.ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@this.ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@this.User.Identity.Name</strong>.</p>

@if (this.ViewBag.HasLocalPassword) {
    @Html.Partial("_ChangePasswordPartial")
}
else {
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { this.ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}